  /* .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  #titulo-index {
    color: #007bff;
    text-align: center;
  }

  #texto-index {
    text-align: center;
    color: #6c757d;
  }

  #tabela-index {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  #th-index, #td-index {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }

  .th-index-class {
    background-color: #007bff;
    color: #fff;
  }

  .tr-index:nth-child(even) {
    background-color: #f2f2f2;
  }

  .a-index {
    color: #007bff;
    text-decoration: none;
  }

  .a-index:hover {
    text-decoration: underline;
  } */
  #bg-image {
    background-image:url(https://github.com/Astro-Dust/background/blob/main/background-projeto1.png?raw=true);
    background-size: cover;
    
    /* Substitua 'url('caminho/da/imagem.jpg')' pelo caminho real da sua imagem */
    /* background-image: url('/frontend/assets/images/background.png'); */
    /* Ajuste a propriedade background-size conforme necessário */
    /* background-size: cover; */
    /* Ajuste a propriedade background-position conforme necessário */
    /* background-position: center; */
    /* Ajuste a propriedade background-repeat conforme necessário */
}