<nav class="navbar bg-dark navbar-expand-lg  bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Agenda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          

          <% if(user) {%>
            <li class="nav-item">
              <a class="nav-link" href="/contato/index">Cadastrar Contato</a>
              <li class="nav-item">
                <a class="nav-link" href="login/logout">Logout</a>
              </li>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/login/index">Login</a>
            </li>
          <% } %>
          
        </ul>
      </div>
    </div>
  </nav>