<nav class="navbar bg-primary navbar-expand-lg  bg-body-tertiary " >
    <div class="container-fluid">
      <% if(user) {%>
      <a class="navbar-brand text-white" href="/">ATIVIDADES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item ">
              <a class="nav-link text-white" href="/aluno/index">Cadastrar aluno</a>
              <li class="nav-item">
                <a class="nav-link text-white" href="login/logout">Logout</a>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/alunos/index">Alunos</a>
              </li>
            </li>
          
            <% } else { %>
          <% } %>
          
        </ul>
      </div>
    </div>
  </nav>