<nav class="navbar bg-primary navbar-expand-lg  bg-body-tertiary " >
    <div class="container-fluid">
      <% if(user) {%>
        <img src="/frontend//assets/images/favicon.png" width="50" height="50">
      <a style="font-family:sans-serif;" class="navbar-brand text-white ml-2" href="/"><b>ATIVIDADES</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item ">
              <a class="nav-link text-white font-weight-bold" href="/aluno/index">Cadastrar aluno</a>
              <li class="nav-item">
                <a class="nav-link text-white font-weight-bold" href="login/logout">Logout</a>
                <li class="nav-item">
                  <a class="nav-link text-white font-weight-bold" href="/alunos/index">Alunos</a>
              </li>
            </li>
          
            <% } else { %>
              <img src="/frontend//assets/images/favicon.png" width="50" height="50">

              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link text-white font-weight-bold" href="login/logout">Sair</a>
                  <li class="nav-item">
              </ul>
          <% } %>
          
        </ul>
      </div>
    </div>
  </nav>