<%- include('includes/head')%>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-8 my-4">
          <h1 class="text-center">Faça o envio das atividades enviadas abaixo</h1>


          
          <div>
              <div class="mb-3">
                <label class="form-label">Matricula</label>
                <input value="" type="tel" class="form-control" name="input_matricula">
              </div>       
              <button onclick="" class="btn btn-primary">Avançar</button> 
          </div> 
            
        </div>
        </div>
      </div>
    <%- include('includes/footer')%>