<%- include('includes/head')%>
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center" id="bg-image">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-12 my-4 shadow rounded" style="background-color: white; width: 700px; height: 500px;">
      <h1 class="text-center text-primary">Envie as atividades abaixo</h1>

      <%- include('includes/messages') %>
      <form action="/aluno/autenticado" method="POST" style="margin-top: 60px;">
        <div class="container" >
          <div class="row mb-3">
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Nome da atividade</label>
                <input id="nome" type="text" class="form-control" name="nome" required />
              </div>
              <div class="mb-3">
                <label class="form-label">Matrícula</label>
                <input placeholder="Digite sua matrícula" type="number" class="form-control" name="matricula">
              </div>
              <div class="mb-3">
                <label for="horas" class="form-label">Horas</label>
                <div class="input-group">
                  <input type="range" class="form-control-range " name="horas" id="formControlRange" min="1" max="24" step="1">
                  <output id="horaOutput" class="input-group-text">1</output>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="descricao" class="form-label">Descrição da atividade</label>
                <textarea id="descricao" class="form-control" rows="8" name="descricao" style="resize: none;" required></textarea>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary">Avançar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const horasInput = document.getElementById('formControlRange');
  const horasOutput = document.getElementById('horaOutput');

  horasInput.addEventListener('input', function () {
    horasOutput.textContent = horasInput.value;
  });
</script>
<%- include('includes/footer')%>