<%- include('includes/head')%>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-8 my-4">
          <h1 class="text-center text-primary">Faça a checagem das atividades enviadas abaixo</h1>
          <form action="">
          <div>
              <div class="mb-3 shadow p-3 mb-5 bg-body rounded">
                <label class="form-label" for="matricula">Matrícula</label>
                <input value="" type="tel" class="form-control mb-3" name="matricula" id="matricula">
                <button type="submit" class="btn btn-primary">Checar</button>
              </div>       
            </form>
        </div>
        </div>
      </div>
    <%- include('includes/footer')%>