<%- include('includes/head')%>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8 my-4">
          <h1 class="text-center">Faça a checagem das atividades enviadas abaixo</h1>
          <form action="">
          <div>
              <div class="mb-3">
                <label class="form-label">Matricula</label>
                <input value="" type="tel" class="form-control" name="matricula">
              </div>       
              <button type="submit" class="btn btn-primary">Checar</button>  
            </form>
        </div>
        </div>
      </div>
    <%- include('includes/footer')%>