<%- include('includes/head')%>
<div class="container-fluid d-flex align-items-center justify-content-center vh-100" id="bg-image">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-8 my-4 text-center">
      <form action="/aluno/autenticado2" method="POST">
        <div class="mb-5 shadow-lg p-4 mb-5 bg-body rounded " style="background-color: white; min-height: 30vh;"> <!-- Adicionei min-height para garantir um tamanho mínimo vertical -->
          <h1 class="text-primary mb-4">Cheque as atividades enviadas abaixo</h1>
          <div class="row justify-content-center"> 
            
            <div class="col-9">
             
              <div class="input-group">
                <input value="" type="tel" class="form-control" placeholder="Digite sua matrícula" name="matricula" id="matricula">
                
                <div class="input-group-btn bg-primary">
                  <button class="btn btn-default text-white rounded" type="submit">Checar</button>
                </div>

              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('includes/footer')%>
