<%- include('includes/head')%>
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-8 my-4">
      <h1 class="text-center">Faça o envio da atividade abaixo</h1>
      <form action="">
        <div>
          <label class="form-label">Nome</label>
          <input value="" type="text" class="form-control" name="nome" />
        </div>
        <!-- <div class="mb-3">
          <label class="form-label">Sobrenome</label>
          <input value="" type="text" class="form-control" name="sobrenome" />
        </div> -->
        <!-- <div class="mb-3">
          <label class="form-label">Email</label>
          <input value="" type="email" class="form-control" name="email" />
        </div> -->
        <div class="mb-3">
          <label class="form-label">Matrícula</label>
          <input value="" type="tel" class="form-control" name="matricula" />
        </div>
        <div class="mb-3">
          <label class="form-label">Descrição da atividade</label>
          <input value="" type="text" class="form-control" name="descricao" />
        </div>
        <div class="mb-3">
          <label class="form-label">Horas</label>
          <input value="" type="text" class="form-control" name="horas" />
        </div>
        <div class="mb-3">
          <label class="form-label">Anexo</label>
          <input value="" type="file" class="form-control" name="anexo" />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>
<%- include('includes/footer')%>
