<%- include('includes/head')%>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8 my-4">
          <h1 class="text-center">Preencha o formulário de envio</h1>
          <form action="">
          <div>
            
          <label class="form-label">Nome Completo</label>
              <input value="" type="text" class="form-control" name="nome">
            </div>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input value="" type="email" class="form-control" name="email">
              </div>
              <div class="mb-3">
                <label class="form-label">Matricula</label>
                <input value="" type="tel" class="form-control" name="matricula">
              </div>       
              <div class="mb-3">
                <label class="form-label">Descrição da atividade</label>
                <input value="" type="text" class="form-control" name="descricao">
              </div>  
              <div class="mb-3">
                <label class="form-label">Horas da atividade</label> <!--Adicionar no model-->
                  <input value="" type="text" class="form-control" name="horas">
              </div>    
              <div class="mb-3">
                <label class="form-label">Anexo</label>
                  <input value="" type="file" class="form-control" name="anexo">
              </div>  
              <button type="submit" class="btn btn-primary">Enviar</button>  
            </form>
        </div>
        </div>
      </div>
    <%- include('includes/footer')%>