<%- include('includes/head')%>
    <div class="container bg-light ">
      <div class="row">
        <div class="col-lg-8 my-3 mx-auto">
          <h1 class="text-center">At.com</h1>
          <p class="text-center lead">Portal de envio de atividades complementares</p>
          <%- include('includes/messages') %>
          <div class="row ">
            <!-- Area do aluno -->
            <div class="col-lg">
              <h4>Envie suas atividades</h4>
              <p>Area do aluno</p>
              <form class="" action="/aluno/enviar" method="POST">
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Enviar Atividade</button>
                </div>
              </form>
              <div class="vr"></div>
              <form class="" action="/aluno/checar" method="POST">
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Checar Atividades Enviadas</button>
                </div>
              </form>
            </div>
            <!-- Area do professor -->
            <div class="col-lg">
              <h4>Login como professor</h4>
              <p>Area do gestor</p>
              <form class="" action="/login/professor" method="POST">
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Faça login como professor</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

<%- include('includes/footer')%>