<%- include('includes/head')%>
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center " id="bg-image" >
  <div class="shadow p-4 rounded-lg" style="background-color: white;" >
    <div class="row">
      <div class="col-lg-8 my-3 mx-auto"  >
        <img src="/frontend//assets/images/logo.svg" width="250" height="230" >
        <h1 class="text-center">At.com</h1>
        <p class="text-center lead">Portal de envio de atividades complementares</p>
        <%- include('includes/messages') %>
        <div class="row">
          <!-- Area do aluno -->
          <div class="col-lg">
            <div class="mb-3 d-flex flex-column">
              <form class="mb-1" action="/aluno/autentica" method="GET">
                <button type="submit" class="btn btn-primary btn-block">Enviar Atividade</button>
              </form>
              <div class="vr my-2"></div> <!-- Linha vertical -->
              <form class="mb-2" action="/aluno/checar" method="POST">
                <button type="submit" class="btn btn-primary btn-block">Checar Atividades</button>
              </form>
            </div>
          </div>
          <!-- Area do professor -->
          
        </div>
        <div class="col-lg alignt justify-content-center">
          <form action="/login/professor" method="POST">
            <button type="submit" class="btn btn-link btn-block text-center">→Logar como professor←</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('includes/footer')%>
