<%- include('includes/head')%>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">AT.com</h1>
      <p class="text-center lead">Portal de envio de atividades complementares</p>
        <%- include('includes/messages') %>
      <div class="row">
        <div class="col-lg">
          <h4>Envio de Atividade Aluno</h4>
          <p>Area do aluno</p>
          <form class="" action="/aluno/enviar" method="POST">
              <div class="mb-3">
                <button type="submit" class="btn btn-primary">Enviar Atividade</button>
              </div>
            </form>
              <form class="" action="/aluno/checar" method="POST">
              <div class="mb-3">
                <button type="submit" class="btn btn-primary">Checar Atividades Enviadas</button>
              </div>                     
            </form>
        </div>    
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</form>
<form class="" action="/login/professor" method="POST">
<div class="mb-3">
  <button type="submit" class="btn btn-primary">Faça login como professor</button>
</div>                     
</form>
</div>

<%- include('includes/footer')%>